@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", sans-serif;

  /* font sizes */
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 1rem; /* 16px */
  --text-base: 1.125rem; /* 18px */
  --text-md: 1.25rem; /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 2.5rem; /* 40px */

  /* font weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* color variable */
  --color-primary: #ff385c;
  --color-primary-hover: #e0284a;
  --color-navbar-active: #d33753;
  --color-secondary: #f2a0f4;
  --color-secondary-hover: #e58ce5;
  --color-inactive: #c2c2c2;
  --color-neutral-1: #f7f7f7;
  --color-neutral-2: #ebebeb;
  --color-neutral-3: #dddddd;
  --color-neutral-4: #d3d3d3;
  --color-neutral-5: #c2c2c2;
  --color-neutral-6: #b0b0b0;
  --color-neutral-7: #717171;
  --color-neutral-8: #5e5e5e;

  /* 모서리 */
  --radius-ps: 0.5rem;
  --radius-pm: 0.75rem;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
