@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", sans-serif;

  /* color variable */
  --color-primary: #ff385c;
  --color-primary-hover: #e0284a;
  --color-secondary: #f2a0f4;
  --color-secondary-hover: #e58ce5;
  --color-inactive: #c2c2c2;
  --color-netural-1: #f7f7f7;
  --color-netural-2: #ebebeb;
  --color-netural-3: #dddddd;
  --color-netural-4: #d3d3d3;
  --color-netural-5: #c2c2c2;
  --color-netural-6: #b0b0b0;
  --color-netural-7: #717171;
  --color-netural-8: #5e5e5e;

  --radius-s: 0.5rem;
  --radius-m: 0.75rem;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
